// App config
// sass-lint:disable indentation

$font-size: 16px;
$font-scaling: 1.25;
$line-height: 1.5;
$line-height--heading: 1.25;

$spacing: $based_spacing; //see config.based
$breakpoints: $based_grid-breakpoints; //see config.based

$color-black: #333333;
$color-primary: #333eed;
$color-secondary: #ed333e;

$css-colors: (
    dark: $color-black,
    lite: #f5f5f5,
    primary: $color-primary,
    secondary: $color-secondary,
    error: $color-secondary,
    success: #3eed33,
    warning: #ede233
  )
  !default;
